body {
    background-color: bisque;
    color: darkcyan;
    font-family: 'Times New Roman', Times, serif;
}
a {
    color: coral;
    font-size: 250%;
    text-decoration: none;
}

h1 {
    font-size: 200%;
    text-align: center;
}
form{
    text-align: right;
}
html,
body {
    margin: 0;
    padding: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
button {
    color: darkcyan;
    background-color: aquamarine;
    size: 100px;
}